:root {
    --primary-color: #6f00ff;
    --primary-color-rgba-10: rgba(111, 0, 255, 0.1);
    --primary-color-rgba-20: rgba(111, 0, 255, 0.2);
    --primary-color-rgba-40: rgba(111, 0, 255, 0.4);

    --slate-color-800: rgb(30 28 57);
    --slate-color-700: rgb(45 43 72);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMEÇO: ESTILOS PADRÃO */
body {
    background-color: rgb(15 23 42) !important;
    color: #fff !important;
}

a {
    color: unset;
    text-decoration: none !important;
}
button {
    background-color: transparent;
    color: inherit;
    border: 0;
    cursor: pointer;
}
/* FIM: ESTILOS PADRÃO */

/* COMEÇO: ESTILOS DECLARATIVOS */
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
/* FIM: ESTILOS DECLARATIVOS */

/* COMEÇO: COMPONENTES GLOBAIS */
.safe-area {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.normal-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    transition: 0.4s ease all;
}
.nice-btn {
    color: var(--primary-color);
    background-color: var(--primary-color-rgba-10);
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    transition: 0.4s ease all;
}
@media (min-width: 992px) {
    .safe-area {
        padding: 0;
    }
    .normal-btn:hover {
        color: #fff;
        opacity: 0.8;
    }
    .nice-btn {
        background-color: transparent;
    }
    .nice-btn:hover {
        color: var(--primary-color);
        background-color: var(--primary-color-rgba-10);
    }
}
/* FIM: COMPONENTES GLOBAIS */
