.normal-input {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--slate-color-800);
    border: 2px solid var(--slate-color-700);
    outline: none;
    transition: 0.4s ease all;
    color: #fff;
}
.normal-input:focus {
    border: 2px solid var(--primary-color);
}
.normal-input.error {
    border: 2px solid var(--red-color-500);
}

.support-message {
    font-size: 0.9rem;
    color: var(--slate-color-500);
}

.error-message {
    font-size: 0.9rem;
    color: var(--red-color-500);
}
