:root {
    --cor-primaria: #6f00ff;
    --cor-primaria-rgba-10: rgba(111, 0, 255, 0.1);
    --cor-primaria-rgba-20: rgba(111, 0, 255, 0.2);
    --cor-primaria-rgba-40: rgba(111, 0, 255, 0.4);

    --cor-slate-800: rgb(30 28 57);
    --cor-slate-700: rgb(45 43 72);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMEÇO: ESTILOS PADRÃO */
body {
    background-color: rgb(15 23 42);
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: transparent;
    color: inherit;
    border: 0;
    cursor: pointer;
}
/* FIM: ESTILOS PADRÃO */

/* COMEÇO: ESTILOS DECLARATIVOS */
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
/* FIM: ESTILOS DECLARATIVOS */

/* COMEÇO: COMPONENTES GLOBAIS */
.safe-area {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.normal-btn {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    transition: 0.4s ease all;
}
@media (min-width: 992px) {
    .safe-area {
        padding: 0;
    }
    .normal-btn:hover {
        opacity: 0.8;
    }
}
/* FIM: COMPONENTES GLOBAIS */
