.cabecalho-padrao {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem 0;
    transition: 0.4s ease all;
}
.cabecalho-padrao.ativo {
    background-color: var(--cor-primaria-rgba-10);
    backdrop-filter: blur(8px);
}

.cabecalho-padrao_botao-voltar {
    color: var(--cor-primaria);
    font-weight: bold;
    padding: 0.25rem 1rem;
    border-radius: 3rem;
    transition: 0.4s ease all;
    background-color: var(--cor-primaria-rgba-20);
}
.cabecalho-padrao_botao-voltar:focus {
    outline: none;
}

@media (min-width: 992px) {
    .cabecalho-padrao_botao-voltar {
        background-color: transparent;
    }
    .cabecalho-padrao_botao-voltar:hover {
        background-color: var(--cor-primaria-rgba-20);
    }
}
